{%extends "base.html"%}
{% load static %}
{%block title_block%}{{page_title}}{%endblock%}
{%block body_block%}
<main class="main">
    <section class="section-box">
        <div class="breacrumb-cover">
            <div class="container">
              <div class="row">
                <div class="col-lg-6 col-xs-6">
                  <a onclick="backButton()" class="pointer"><i class=" fa fa-arrow-left mr-10"></i>Back</a>
                </div>
                <div class="col-lg-6  col-xs-6 text-end">
                  <ul class="breadcrumbs">
                    <li><a class="" href="/school-account">My Account</a></li>
                    <li>Application Received</li>
                  </ul>
                </div>
              </div>
            </div>
        </div>
      </section>
    <section class="section-box mt-30 mb-30">
        <!-- Add Teacher Phone number -->
        <div class="modal fade" id="contact-modal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg">
            <div class="modal-content apply-job-form">
                <div class="modal-header">
                    <div class="text-center">
                        <h4 class="mt-10 mb-5 text-brand-1 text-capitalize">Contact</h4>
                    </div>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>        
                <div class="modal-body pl-30 pr-30 ">       
                    Contact number : <p id="ct_p" ></p>           
                </div>
            </div>
            </div>
        </div>
        <div class="container">
            <h4 class="mb-40 text-center">Application Received</h4>

            <div class="row cog-account ">
                <div class="col-md-12 orders">
                    <div class="table-responsive">
                        <table class="table coganimate-scale-in-center table-bordered">
                            <thead>
                                <tr>
                                    <td>S.No.</td>
                                    <td>Name</td>
                                    <td>Gender</td>
                                    <td>Qualification</td>
                                    <td>Experience Type</td>
                                    <td>Current Salary </td>
                                    <td>Expected Salary</td>
                                    <td>Subject of Experience</td>
                                    <td>Category of Experience</td>
                                    <td>Status</td>
                                    <td>Call for interview</td>
                                    <td>Reject</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for info in job_applicant %}

                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{info.teacher.user.name}}</td>
                                    <td>{{info.teacher.gender}}</td>
                                    <td>{{info.teacher.qualification}}</td>
                                    <td>{{info.teacher.experience_type}} <br>{{info.years_of_experience}}</td>
                                    <td>{{info.teacher.current_salary}}</td>
                                    <td>{{info.teacher.expected_salary}}</td>
                                    <td>{{info.teacher.subject_of_experience}} {{info.teacher.subject_i_teach}}</td>
                                    <td>{{info.teacher.experience_in}} {{info.teacher.want_to_teach_for}}</td>
                                    <td>{{info.status}}</td>
                                    <!-- <td>
                                        {% if info.status == 'Approved' %}
                                        <a data-id="{{info.id}}" class="call_me_approve btn btn-default">
                                            Contact Teacher </a>
                                        {% endif %}
                                    </td> -->
                                    <td>
                                        <a data-bs-toggle="modal" href="#contact-modal" data-phone="{{info.teacher.user.mobile_no}}" class="view_cl call_me_approve btn btn-default">Contact Teacher </a>
                                    </td>

                                    <td>
                                        {% if info.status == 'Approved' %}

                                        <a data-id="{{info.id}}"  class="call_me_reject btn btn-danger">
                                           Reject</a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}